*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    background:#111;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.links a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:17px;
    transition:.3s;
}

.links a:hover{
    color:#ff9800;
}