<!DOCTYPE html>
<html lang="en">

<head>
    

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Menu</title>

    <link rel="stylesheet" href="/static/add_menu.css">

</head>

<body>
    

<div class="container">

<h1>Edit Menu Item</h1>

<form id="editForm">

<input
type="text"
id="item_name"
value="{{ item.item_name }}"
required>

<input
type="number"
id="price"
value="{{ item.price }}"
required>

<input
type="text"
id="category"
value="{{ item.category }}"
required>

<input
type="text"
id="description"
value="{{ item.description }}"
required>

<input
type="text"
id="image"
value="{{ item.image }}"
required>

<button type="submit">

Update Item

</button>

</form>

</div>

<script>

const menuId={{item.id}};

</script>

<script src="/static/edit_menu.js"></script>

</body>

</html>