<!DOCTYPE html>
<html lang="en">

<head>
   

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Manage Menu</title>

<link rel="stylesheet" href="/static/manage_menu.css">

</head>

<body>
    

<div class="container">

<h1>Manage Menu</h1>

<table>

<thead>

<tr>

<th>ID</th>

<th>Image</th>

<th>Name</th>

<th>Price</th>

<th>Category</th>

<th>Action</th>

</tr>

</thead>

<tbody id="menu-table">

</tbody>

</table>

</div>

<script src="/static/manage_menu.js"></script>

</body>

</html>